### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
# File to Load (Remember to Change These)
school_complete = "Resources/schools_complete.csv"
student_complete= "Resources/students_complete.csv"

In [4]:
# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_complete)
student_data_df = pd.read_csv(student_complete)

In [5]:
# Combine the data into a single dataset
school_student_combined = pd.merge(school_data_df, student_data_df, how="left", on=["school_name", "school_name"])
school_student_combined

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
total_schools = len(school_student_combined["School ID"].unique())
total_schools

15

In [7]:
total_students = len(school_student_combined["Student ID"].unique())
total_students

39170

In [8]:
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [9]:
average_math = student_data_df["math_score"].mean()
average_math

78.98537145774827

In [10]:
average_reading = student_data_df["reading_score"].mean()
average_reading

81.87784018381414

In [11]:
overall_average_score = (average_math + average_reading)/2
overall_average_score

80.43160582078121

In [28]:
number_passing_math = student_data_df.loc[(student_data_df["math_score"]>=70)].count()["student_name"]
percent_passing_math = (number_passing_math)/(total_students)*100
print(percent_passing_math)

74.9808526933878

In [18]:
number_passing_reading = student_data_df.loc[(student_data_df["reading_score"]>=70)].count()["student_name"]
percent_passing_reading = (number_passing_reading)/(total_students)*100
percent_passing_reading

85.80546336482001

In [30]:
#Creat a dataframe to hold the above results
district_summary = pd.DataFrame({
    "Total School":total_schools,
    "Total Student":total_students,
    "Total Budget":total_budget,
    "Average Math Score":average_math,
    "Average Reading Score":average_reading,
    "Overall Average Score":overall_average_score,
    "Percentage Passing Math":percent_passing_math,
    "Percentage Passing Reading":percent_passing_reading
},index = [0])
district_summary

,Total School,Total Student,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,Percentage Passing Math,Percentage Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,74.980853,85.805463

In [31]:
#give the displayed data cleaner formatting
district_summary["Percentage Passing Math"] = district_summary["Percentage Passing Math"].map("{:,.2f}%".format)

district_summary["Percentage Passing Reading"] = district_summary["Percentage Passing Reading"].map("{:,.2f}%".format)

district_summary["Overall Average Score"] = district_summary["Overall Average Score"].map("{:,.2f}%".format)


district_summary["Total Budget"] = district_summary["Total Budget"].map("{:,.2f}%".format)

district_summary["Total Student"] = district_summary["Total Student"].map("{:,.2f}%".format)

district_summary

,Total School,Total Student,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,Percentage Passing Math,Percentage Passing Reading
0,15,"39,170.00%","24,649,428.00%",78.985371,81.87784,80.43%,74.98%,85.81%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [42]:
#school Summary

by_school_name = school_student_combined.groupby(['school_name'])
print(by_school_name)

#school types
school_types = school_data_df.set_index('school_name')['type']

# total students by school
student_per_school = by_school_name['Student ID'].count()

# school budget
school_budget = school_data_df.set_index('school_name')['budget']

#per student budget
student_budget = school_data_df.set_index('school_name')['budget']/school_data_df.set_index('school_name')['size']

#avg scores by school
avgerage_math_score = by_school_name['math_score'].mean()
avgerage_reading_score = by_school_name['reading_score'].mean()

# % passing scores
passing_math = school_student_combined[school_student_combined['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_per_school 
passing_reading = school_student_combined[school_student_combined['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_per_school 
overall_passing = school_student_combined[(school_student_combined['reading_score'] >= 70) & (school_student_combined['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/student_per_school 

school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": student_per_school,
    "Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": avgerage_math_score,
    "Average Reading Score": avgerage_reading_score,
    "Passing Math": passing_math,
    "Passing Reading": passing_reading,
    "Overall Passing Rate": overall_passing
})
school_summary

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021398709308>

,School Type,Total Students,Student Budget,Total School Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,652.0,3022020,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,581.0,248087,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,600.0,1056600,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,583.0,1049400,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [50]:
sort_schools = school_summary.sort_values(["Overall Passing Rate"],ascending = False)# in"school_name"(by = "overall_passing_percent")
sort_schools.head(5)

,School Type,Total Students,Student Budget,Total School Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,652.0,3022020,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,0.660576,0.812224,0.535392

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [51]:
sort_schools = school_summary.sort_values(["Overall Passing Rate"],ascending = True)# in"school_name"(by = "overall_passing_percent")
sort_schools.head(5)

,School Type,Total Students,Student Budget,Total School Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,0.945946,0.959459,0.905405

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [84]:
nine_grade_series = student_data_df.loc[student_data_df['grade'] =='9th'] #grade=True
ten_grade_series = student_data_df.loc[student_data_df['grade'] =='10th'] #grade=True
eleven_grade_series = student_data_df.loc[student_data_df['grade'] =='11th'] #grade=True
tweleve_grade_series = student_data_df.loc[student_data_df['grade'] =='12th'] #grade=True

nine_grade_by_school = (nine_grade_series.groupby(["school_name"]).mean()["math_score"])
ten_grade_by_school = (ten_grade_series.groupby(["school_name"]).mean()["math_score"])
eleven_grade_by_school = (eleven_grade_series.groupby(["school_name"]).mean()["math_score"])
tweleve_grade_by_school = (tweleve_grade_series.groupby(["school_name"]).mean()["math_score"])

series_df = pd.DataFrame({
"9th Grade Series": nine_grade_series, 
"10th Gared Series": ten_grade_series, 
"11th Grade Series": eleven_grade_series, 
"12th Grade Series": tweleve_grade_series
}, index = [1])
# series_df = series_df[["9th Grade Series",  
# "10th Gared Series",  
# "11th Grade Series", 
# "12th Grade Series"]]
# series_df.index.name = None
series_df

ValueError: Shape of passed values is (7, 4), indices imply (1, 4)

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [85]:
nine_grade_series = student_data_df.loc[student_data_df['grade'] =='9th'] #grade=True
ten_grade_series = student_data_df.loc[student_data_df['grade'] =='10th'] #grade=True
eleven_grade_series = student_data_df.loc[student_data_df['grade'] =='11th'] #grade=True
tweleve_grade_series = student_data_df.loc[student_data_df['grade'] =='12th'] #grade=True

nine_grade_by_school = (nine_grade_series.groupby(["school_name"]).mean()["reading_score"])
ten_grade_by_school = (ten_grade_series.groupby(["school_name"]).mean()["reading_score"])
eleven_grade_by_school = (eleven_grade_series.groupby(["school_name"]).mean()["reading_score"])
tweleve_grade_by_school = (tweleve_grade_series.groupby(["school_name"]).mean()["reading_score"])

series_df = pd.DataFrame({
"9th Grade Series": nine_grade_series, 
"10th Gared Series": ten_grade_series, 
"11th Grade Series": eleven_grade_series, 
"12th Grade Series": tweleve_grade_series
}, index = [1])
# series_df = series_df[["9th Grade Series",  
# "10th Gared Series",  
# "11th Grade Series", 
# "12th Grade Series"]]
# series_df.index.name = None
series_df

ValueError: Shape of passed values is (7, 4), indices imply (1, 4)

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [87]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [94]:
school_spending_summary = school_summary.copy()

school_spending_summary["Spending Ranges (Student Budget)"] = pd.cut(school_summary["Student Budget"], spending_bins, labels=group_names)

school_spending_grouped = school_spending_summary.groupby("Spending Ranges (Student Budget)").mean() 
school_spending_grouped

,Total Students,Student Budget,Total School Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Spending Ranges (Student Budget),,,,,,,,
<$585,1592.000000,581.000000,9.246042e+05,83.455399,83.933814,0.934601,0.966109,0.903695
$585-615,1361.500000,604.500000,8.212290e+05,83.599686,83.885211,0.942309,0.959003,0.902163
$615-645,2961.000000,635.166667,1.880208e+06,79.079225,81.891436,0.756682,0.861066,0.661121
$645-675,4104.333333,652.333333,2.675768e+06,76.997210,81.027843,0.661648,0.811340,0.535269

## Scores by School Size

* Perform the same operations as above, based on school size.

In [95]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [99]:
school_summary["Total Students"] = pd.cut(school_summary["Total Students"], size_bins, labels=group_names)
school_summary

#group by size
school_size_grouped = school_summary.groupby("Total Students").mean() 
school_size_grouped

,Student Budget,Total School Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Total Students,,,,,,,
Small (<1000),595.000,416972.500,83.821598,83.929843,0.935502,0.960994,0.898839
Medium (1000-2000),605.600,1029597.200,83.374684,83.864438,0.935997,0.967907,0.906215
Large (2000-5000),635.375,2333437.125,77.746417,81.344493,0.699634,0.827666,0.582860

## Scores by School Type

* Perform the same operations as above, based on school type.

In [107]:
school_type = pd.DataFrame()
school_type["Average Math Score"] = (school_summary.groupby(["School Type"]).mean()["Average Math Score"])
school_type["Average Reading Score"] = school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
school_type["Average Passing Math"] = school_summary.groupby(["School Type"]).mean()["Passing Math"]
school_type["Average Passing Reading"] = school_summary.groupby(["School Type"]).mean()["Passing Reading"]
school_type["Overall Passing"] = school_summary.groupby(["School Type"]).mean()["Overall Passing Rate"]

school_type = pd. DataFrame({
 "Average Math Score : School Math Score",
 "Average Reading Score : Average Reading Score",
 "Average Passing Math : Passing Math",
 "Average Passing Reading : Passing Reading",
 "Overall Passing : Overall Passing Rate"
})

school_type

AttributeError: 'DataFrame' object has no attribute 'ravel'